version: '3'
services:
        nginx:
                image: "nginx:latest"
                ports:
                        - "80:80"
                        - "443:443"
                volumes:
                        - ./nginx.conf:/etc/nginx/nginx.conf
